/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// simple notifications
.simple-notification-wrapper {
  max-width: 300px;
  width: 100% !important;
}

.simple-notification .sn-progress-loader {
  height: 2px !important;
  left: 5px !important;
  width: 96% !important;
}

.simple-notification {
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
  border: none !important;
  border-radius: 8px !important;
  padding: 8px !important;
  word-wrap: break-word !important;
  min-height: unset !important;
}

.simple-notification .sn-title {
  font-size: 15px !important;
  line-height: 1.5 !important;
  padding-right: 0 !important;
  font-weight: bold;
  padding-bottom: 5px !important;
}

.simple-notification .sn-content {
  font-size: 13px !important;
  line-height: 1.5 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.simple-notification.success {
  background: #ffffff !important;
  color: #333333 !important;

  .sn-title {
    color: #2ECC71 !important;
  }

  .icon svg {
    fill: #2ECC71 !important;
  }

}

.simple-notification.error {
  background: #ffffff !important;
  color: #333333 !important;

  .sn-title {
    color: #EA5858 !important;
  }

  .icon svg {
    fill: #EA5858 !important;
  }

}

.simple-notification .icon {
  width: 25px !important;
  height: 25px !important;
  top: 12px !important;
  right: 12px !important;
  padding: 0 !important;
}

