<div class="register">
  <div class="container">
    <div class="align">
      <div class="grid align__item">
        <div class="register-wrapper">

          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="84" viewBox="77.7 214.9 274.7 412"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#8ceabb"/><stop offset="100%" stop-color="#378f7b"/></linearGradient></defs><path fill="url(#a)" d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/>
          </svg>

          <h2>Sign Up</h2>

          <form [formGroup]="registerForm" novalidate autocomplete="off" class="form">

            <!-- name -->
            <div class="field">
              <label for="name">Name*</label>
              <input
                (change)="onChange($event)"
                formControlName="name"
                id="name"
                placeholder="Enter your full name"
                type="text">
              <div
                *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid
                && registerForm.get('name')?.hasError('required')"
                class="help is-danger">
                Name is required.
              </div>
            </div>
            <!-- /name -->

            <!-- username -->
            <div class="field">
              <label for="username">Username*</label>
              <input
                (change)="onChange($event)"
                formControlName="username"
                id="username"
                placeholder="Enter your username"
                type="text">
              <div
                *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid
                && registerForm.get('username')?.hasError('required')"
                class="help is-danger">
                Username is required.
              </div>
            </div>
            <!-- /username -->

            <!-- email -->
            <div class="field">
              <label for="email">Email Address*</label>
              <input
                (change)="onChange($event)"
                formControlName="email"
                id="email"
                placeholder="Enter your email address"
                type="email">
              <div
                *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                class="help is-danger">
                <ng-container *ngIf="registerForm.get('email')?.hasError('required')">
                  Email address is required.
                </ng-container>
                <ng-container *ngIf="registerForm.get('email')?.hasError('pattern')
                && registerForm.get('email')?.value !== ''">
                  Email address is invalid.
                </ng-container>
              </div>
            </div>
            <!-- /email -->

            <!-- password -->
            <div class="field">
              <label for="password">Password*</label>
              <input
                (change)="onChange($event)"
                formControlName="password"
                id="password"
                placeholder="Enter your password"
                type="password">
              <div
                *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid
                && registerForm.get('password')?.hasError('required')"
                class="help is-danger">
                Password is required.
              </div>
            </div>
            <!-- /password -->

            <div class="field">
              <input
                (click)="onSubmit()"
                [disabled]="registerForm.invalid"
                type="submit"
                value="Sign Up">
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
